.about {
    // .about__row
   padding: rem(90) rem(0);
    background: linear-gradient(225.00deg, rgba(105, 102, 101, 0.16),rgba(76, 74, 74, 0.24) 34.896%,rgba(22, 22, 23, 0.4) 100%);
    @include tablet{
        padding: rem(60) rem(0);
    }

    &__row {
        display: flex;
        align-items: center;
        // .about__row_text
        &_text {
            display: flex;
            flex-direction: column;
            gap: rem(40);
            @include tablet{
                width: rem(400);
            }
            @include mobile{
                z-index: 2;
            }
        }   
        // .about__row_img
        &_img {
            
        }
    }
    // .about__text
    &__text {
        max-width: rem(732);
        // .about__text_box
        &_box {
            display: flex;
            flex-direction: column;
            gap: rem(20);
        }
        // .about__text_title
        &_title {
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size: rem(40);
            font-weight: 500;
            line-height: rem(40);
            letter-spacing: 15%;
            text-align: left;
            text-transform: uppercase;
            @include tablet{
                font-size: rem(24);
            }
        }
        // .about__text_description
        &_description {
            max-width: rem(732);
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size: rem(20);
            font-weight: 500;
            line-height: rem(30);
            letter-spacing: 0%;
            text-align: left;
            @include tablet{
                font-size: rem(18);
            }
        }
        // .about__text_list
        &_list { 
            display: flex;
            flex-direction: column;
            gap: rem(12);
        }
    }
    // .about__list
    &__list {
       
        // .about__list_item
        &_item {
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size: rem(20);
            font-weight: 500;
            letter-spacing: 0%;
            text-align: left;
            margin-left:rem(22);
            list-style: outside;
            @include tablet{
                font-size: rem(18);
            }
        }
    }
    // .about__img
    &__img {
        // .about__img_item
        &_item {
            position: absolute;
            top: rem(-110);
            right:rem(0);
            width: rem(550);
            
            @include tablet{
                top: rem(-80);
                right:rem(-175);
                width: rem(600);
            }
            @include mobile{
                right:rem(-275);
                width: rem(500);

                max-width: unset;
            }
        }
    }
}


  