.contacts {
    padding: rem(90) rem(0);
background: linear-gradient(225.29deg, rgba(22, 22, 23, 0.16) -0.41%,rgba(85, 84, 157, 0.08) 100%);
		// .contacts__row
		@include mobile{
			padding: rem(60) rem(0);
		}
		&__row {

position: relative;
            display: flex;
            justify-content: space-between;
			@include tablet{
				flex-direction: column;
			}
			// .contacts__row_info

			&_info {
              

                // border-radius: 10px;

                // background: rgba(63, 72, 81, 0.5);
			}

			// .contacts__row_form

			&_form {
               
			}
		}

		// .contacts__info

		&__info {

			// .contacts__info_title

			&_title {
                color: rgb(255, 255, 255);
font-family: Poppins;
font-size: rem(30);
font-weight: 500;
// line-height: 45px;
letter-spacing: 5%;
text-align: left;
text-transform: uppercase;
margin-bottom: rem(20);
@include tablet{
	font-size: rem(24);
}
			}

			// .contacts__info_list

			&_list {
                display: flex;
flex-direction: column;
gap: rem(20);
@include tablet{
	gap: rem(10);
}
			}
		}

		// .contacts__list

		&__list {

			// .contacts__list_img

			&_img {
				width: rem(25);
			}

            // .contacts__list_item

			&_item {
				display: flex;
				align-items: center;
				gap: rem(10);
			}

			// .contacts__list_link

			&_link {
                color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(20);
font-weight: 500;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
transition: 0.3s all ease;
@include tablet{
	font-size: rem(16);
}
&:hover{
	opacity: 0.7;
}
			}
		}

		// .contacts__form

		&__form {
 display: flex;
                flex-direction: column;
gap: rem(20);
width: rem(680);
@include tablet{
	width: 100%;
}
			// .contacts__form_title

			&_title {
                color: rgb(255, 255, 255);
font-family: Poppins;
font-size: rem(20);
font-weight: 500;
letter-spacing: 5%;
text-transform: uppercase;
text-align: center;
margin-bottom: rem(20);
@include tablet{
	text-align: left;
	margin-top: rem(40);
}
			}

			// .contacts__form_input

			&_input {
                color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(20);
font-weight: 400;
letter-spacing: 0%;
text-align: left;
     border-radius: rem(10);
padding:rem(20);
background: rgb(61, 70, 81);
width: 100%;
border:unset;
&:focus{
    outline: none;
}
			}

			// .contacts__form_textarea

			&_textarea {
                border-radius: rem(10);
padding: rem(20);
background: rgb(61, 70, 81);
                  color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(20);
font-weight: 400;
letter-spacing: 0%;
text-align: left;
border:unset;
width: 100%;
height: rem(200);
resize: none;
&:focus{
    outline: none;
}
			}

			// .contacts__form_btn

			&_btn {
                border-radius:rem(10);
padding: rem(20);
background: rgb(85, 84, 157);
                color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(20);
font-weight: 400;
letter-spacing: 15%;
text-align: center;
text-transform: uppercase;
border: unset;
cursor: pointer;
transition: 0.3s all ease;
&:hover{
background: rgba(85, 84, 157, 0.77);

}
			}
		}

		// .contacts__img

		&__img {
			position: absolute;
            z-index: -1;
		
            top: rem(-200);
			left: rem(300);
			width: rem(600);
		}

		// .contacts__map

		&__map {
            margin-top:rem(40);
            iframe{
                border-radius: rem(10);
                width: 100%;
                height: rem(500);
            }
		}
}
