    .dance {
        background: linear-gradient(225.29deg, rgba(85, 84, 157, 0.2) -0.327%, rgba(18, 11, 44, 0.16) 100%);
        // .dance__header
        padding: rem(90) rem(0);
        @include tablet{
            padding: rem(60) rem(0);
        }
        &__header {
            margin-bottom: rem(60);
            @include tablet{
                margin-bottom: rem(30);
            }
            // .dance__header_title
            &_title {
                color: rgb(192, 191, 196);
                font-family: Poppins;
                font-size: rem(40);
                font-weight: 500;
                // line-height: 45px;
                letter-spacing: 15%;
                text-align: center;
                @include tablet{
                    font-size: rem(24);
                }
            }
        }
        // .dance__row
        &__row {
            display: flex;
            flex-wrap: wrap;
            gap:rem(40);
            justify-content: space-between;
            @include tablet{
                gap:rem(20);
            }
            // .dance__row_card
            &_card {
                position: relative;
                width: rem(700);
                // height: 420px;
                @include tablet{
                    width: rem(373);
                    height: rem(400);
                }
                @include mobile{
                    width: 100%;
                    height: rem(300);
                }
            }
        }
        // .dance__card
        &__card {
            // .dance__card_slider
            &_slider {}
            // .dance__card_info
            &_info {
                position: absolute;
                top: 0;
                z-index: 10;
            }
            // .dance__card_btn
            &_btn {
                z-index: 10;
                position: absolute;
                right: 0;
                bottom: rem(-2);
                border-radius: rem(40) rem(0) rem(40) rem(0);
                background: rgba(0, 0, 0, 0.6);
                padding: rem(25) rem(67);
                color: rgb(255, 255, 255);
                font-family: Poppins;
                font-size: rem(24);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
                transition: 0.3s all ease;
                &:hover {
                    background: rgb(22, 22, 23);
                }
                @include tablet{
                    padding: rem(15) rem(47);
                    font-size: rem(18);
                    bottom: rem(0);
                }
            }
        }
        // .dance__slider
        &__slider {
            // .dance__slider_item
            &_item {}
        }
        // .dance__info
        &__info {
            // .dance__info_content
            &_content {
                padding: rem(18) rem(35);
                border-radius: rem(42) rem(0) rem(30) rem(0);
                box-shadow: rem(0) rem(4) rem(4) rem(0) rgba(0, 0, 0, 0.25);
                background: rgb(22, 22, 23);
            }
            // .dance__info_title
            &_title {
                color: rgb(255, 255, 255);
                font-family: Poppins;
                font-size:rem(24);
                font-weight: 500;
                // line-height: 45px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: capitalize;
                @include tablet{  
                    font-size:rem(18);
                }
            }
            // .dance__info_price
            &_price {
                color: rgb(255, 255, 255);
                font-family: Poppins;
                font-size: rem(20);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
                @include tablet{  
                    font-size:rem(14);
                }
            }
            // .dance__info_yold
            &_yold {
                color: rgba(255, 255, 255, 0.6);
                font-family: Poppins;
                font-size: rem(12);
                font-weight: 500;
                line-height: rem(20);
                letter-spacing: 0%;
                text-align: left;
            }
            // .dance__info_btn
            &_btn {
                color: rgb(255, 255, 255);
                font-family: Poppins;
                font-size: rem(14);
                font-weight: 500;
                line-height: rem(24);
                letter-spacing: 0%;
                text-align: left;
                text-decoration-line: underline;
                position: absolute;
                top:rem(112);
                padding: rem(4) rem(80);
                border-radius: rem(0) rem(0) rem(21) rem(0);
                box-shadow: rem(0) rem(4) rem(4) rem(0) rgba(0, 0, 0, 0.25);
                background: rgba(22, 22, 23, 0.464);
                transition: 0.3s all ease;
                &:hover {
                    background: rgb(22, 22, 23);
                }
                @include tablet{  
                    top:rem(94);
                }
            }
        }
    }
    
    
    .dance{

        & .swiper-container {
                z-index: -1;
                overflow: hidden;
                border-radius: rem(46);
                width:rem(700);
                height: rem(420);
            }        
        & .swiper-slide {
            background-position: center;
            background-size: cover;
            @include tablet{  
                overflow: hidden;
                border-radius: rem(46);
                height: rem(400);
            }
            @include mobile{
                height: rem(300);

            }
        }
        & .swiper-slide img {
            display: block;
            width: 100%;
            // height: 100%;
            @include tablet{  
                height: 100%;
            }
        }
    }
   
    
   
    
     :root {
        --swiper-navigation-size: 18px;
    }
    
     :root {
        --swiper-theme-color: #ffffff;
    }
    
    .dance__card_slider .swiper-horizontal>.swiper-pagination-bullets {
        bottom: rem(20);
        left: rem(-240);
        @include tablet{
            left: rem(-120);
         }
    }
    
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
    }
    
    .dance__card_slider .swiper-pagination-bullet {
        opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5);
    }
    
    .dance__card_slider .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
    }