.footer {

		// .footer__row
padding: rem(40) rem(0);
		&__row {

            display: flex;
            flex-direction: column;
            gap: rem(20);
			// .footer__row_top

			&_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
				@include tablet{
					flex-direction: column;
					gap: rem(20);
					margin-bottom: 20px;
				}
			}

			// .footer__row_bottom

			&_bottom {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
				@include mobile{
					flex-direction: column;
					gap: rem(20);
					margin-bottom: 20px;
				}
            }
		}

		// .footer__top

		&__top {

			// .footer__top_logo

			&_logo {
			}

			// .footer__top_menu

			&_menu {
			}
		}

		// .footer__logo

		&__logo {

			// .footer__logo_item

			&_item {
			}

			// .footer__logo_img

			&_img {
				width: rem(295);
			}
		}

		// .footer__menu

		&__menu {
display: flex;
justify-content: space-between;
align-items: center;
width:rem(608);
@include tablet{
	width:100%;
flex-wrap: wrap;
justify-content: space-between;
gap: rem(10);


}
			// .footer__menu_item

			&_item {
			}

			// .footer__menu_link

			&_link {
				color: rgb(192, 191, 196);
				font-family: Poppins;
				font-size: rem(18);
				font-weight: 500;
				letter-spacing: 15%;
				text-align: left;
				text-transform: uppercase;
				transition: 0.3s all ease;
				&:hover{
					opacity: 0.7;
				}
			}
		}

		// .footer__bottom

		&__bottom {

			// .footer__bottom_social

			&_social {
				display: flex;
				flex-direction:column;
				gap: rem(10);
			}

			// .footer__bottom_contacts

			&_contacts {
                display: flex;
flex-direction: column;
gap: rem(10);
			}
		}

		// .footer__social

		&__social {

			// .footer__social_title
&_icons{
    display: flex;
gap: rem(20);
}
			&_title {
                color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(20);
font-weight: 500;
letter-spacing: 15%;
text-align: left;
text-transform: uppercase;
			}
		}

		// .footer__icons

		&__icons {

			// .footer__icons_link

			&_link {
			}

			// .footer__icons_img

			&_img {
				width: rem(25);
			}
		}

		// .footer__contacts

		&__contacts {

            &_item{
				display: flex;
				align-items: center;
				gap:rem(10);
                color: rgb(192, 191, 196);
font-family: Poppins;
font-size: rem(16);
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
            }
			// .footer__contacts_img

			&_img {
				width: rem(25);
			}
		}
}



