body {
    // backdrop-filter: blur(rem(161));
    background: rgb(22, 22, 23);
    position: relative;
}

.start-wrapper {
    backdrop-filter: blur(rem(161));
    background: linear-gradient(225.29deg, rgba(85, 84, 157, 0.2) -0.491%, rgba(18, 11, 44, 0.16) 100%);
}


.hello {
    // .hello__row
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &__row {
        display: flex;
        justify-content: end;
        align-items: center;
        @include tablet{
        justify-content: start;

        }
        // .hello__row_image
        &_image {}
        // .hello__row_header
        &_header {
            display: flex;
            flex-direction: column;
            max-width: rem(683);
            gap: rem(10);
            // margin-top: 218px;
            // margin-bottom: 350px;
        }
    }
    // .hello__image
    &__image {
        // .hello__image_item
        &_item {
            position: absolute;
            left:rem(0);
            top: rem(-300);
            width: rem(675);
            z-index: -1;
            animation: circularMove 6s linear infinite;
            @include tablet{
                width: rem(727);
                left: unset;
                right: rem(-150);
            }
            @include mobile{
                font-size: rem(60);
                max-width: unset;
                right: rem(-300);
                top: rem(-260);
                width: rem(660);
            }
        }
    }
    // .hello__header
    &__header {
        z-index: 1;
        // .hello__header_description
        &_description {
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size: rem(24);
            font-weight: 600;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
            @include tablet{
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            @include mobile{
                font-size: rem(24);
            color: rgb(235, 235, 235);

            }
        }
        // .hello__header_title
        &_title {
            color: rgb(255, 255, 255);
            font-family: Poppins;
            font-size: rem(60);
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
            @include tablet{
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            @include mobile{
                font-size: rem(60);
            }
        }
        // .hello__header_btn
        &_btn {
            max-width: rem(350);
            display: flex;
            align-items: center;
            gap: rem(10);
            margin-top: rem(20);
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size:rem(24);
            font-weight: 400;
            letter-spacing: 10%;
            text-align: left;
            text-transform: uppercase;
            transition: 0.3s all ease;
            &:hover{
                opacity: 0.7;
                gap: rem(20);
            }
            @include tablet{
                text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
    // .hello__btn
    &__btn {
        // .hello__btn_img
        &_img {
            width: rem(50);
        }
    }
}

.social {
    // .social__row
    &__row {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: rem(30);
        padding-bottom: rem(40);
        // .social__row_text
        &_text {
            color: rgb(192, 191, 196);
            font-family: Poppins;
            font-size: rem(18);
            font-weight: 500;
            // line-height: 40px;
            letter-spacing: 15%;
            text-align: left;
            text-transform: uppercase;
            @include mobile{
                font-size: rem(16);
            }
        }
        // .social__row_line
        &_line {
            width: rem(100);
            @include mobile{
                width: rem(50);
            }
        }
        // .social__row_icons
        &_icons {
            display: flex;
            align-items: center;
            gap: rem(20);
        }
    }
    // .social__icons
    &__icons {
        // .social__icons_item
        &_item {}
        // .social__icons_img
        &_img {
            width: rem(25);
        }
    }
}
