<div class="contacts">
  <div class="container">
    <div class="contacts__row">
      <div class="contacts__row_info">
        <h2 class="contacts__info_title">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <ul class="contacts__info_list">
          <li class="contacts__list_item">
            <img src="img/phone.svg" alt="" class="contacts__list_img" />
            <a href="tel:+7 (904) 825-10-10" class="contacts__list_link"
              >+7 (904) 825-10-10</a
            >
          </li>
          <li class="contacts__list_item">
            <img src="img/email.svg" alt="" class="contacts__list_img" />
            <a
              href="mailto:studio_avanturin@mail.RU"
              class="contacts__list_link"
              >studio_avanturin@mail.RU</a
            >
          </li>
          <li class="contacts__list_item">
            <img src="img/location.svg" alt="" class="contacts__list_img" />
            <a href="#" class="contacts__list_link"
              >Звёздная улица, 6к1, Омск</a
            >
          </li>
        </ul>
      </div>
      <div class="contacts__row_form">
        <h2 class="contacts__form_title">Задайте нам вопрос</h2>
        <form action="#" class="contacts__form">
          <input
            type="text"
            class="contacts__form_input"
            placeholder="Ваш номер"
          />
          <input
            type="text"
            class="contacts__form_input"
            placeholder="Ваш email"
          />
          <textarea
            name=""
            id=""
            class="contacts__form_textarea"
            placeholder="Ваш вопрос"
          ></textarea>
          <button class="contacts__form_btn">Отправить</button>
        </form>
      </div>
      <img src="img/contacts.png" alt="" class="contacts__img" />
    </div>
    <div class="contacts__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Acfddd3784f65135fc60a1bf7fce035af9f504b9163b04be4c7454c618c93317b&amp;source=constructor"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
