<div class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__row">
      <div class="contacts__row_info">
        <h2 class="contacts__info_title"
        data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-offset="100">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <ul class="contacts__info_list">
          <li class="contacts__list_item"
          data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-once="true">
            <img src="img/phone.svg" alt="" class="contacts__list_img" />
            <a href="tel:+7 (904) 825-10-10" class="contacts__list_link"
              >+7 (904) 825-10-10</a
            >
          </li>
          <li class="contacts__list_item"
          data-aos="fade-right"
                    data-aos-duration="1500"
                    data-aos-once="true">
            <img src="img/email.svg" alt="" class="contacts__list_img" />
            <a
              href="mailto:studio_avanturin@mail.RU"
              class="contacts__list_link"
              >studio_avanturin@mail.RU</a
            >
          </li>
          <li class="contacts__list_item"
          data-aos="fade-right"
                    data-aos-duration="2000"
                    data-aos-once="true">
            <img src="img/location.svg" alt="" class="contacts__list_img" />
            <a href="#" class="contacts__list_link"
              >Звёздная улица, 6к1, Омск</a
            >
          </li>
        </ul>
      </div>
      <div class="contacts__row_form">
        <h2 class="contacts__form_title"
        data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-offset="100">Задайте нам вопрос</h2>
        <form action="#" class="contacts__form"
        data-aos="fade-left"
                data-aos-duration="1500"
                data-aos-once="true">
          <input
            type="text"
            class="contacts__form_input"
            placeholder="Ваш номер"
          />
          <input
            type="text"
            class="contacts__form_input"
            placeholder="Ваш email"
          />
          <textarea
            name=""
            id=""
            class="contacts__form_textarea"
            placeholder="Ваш вопрос"
          ></textarea>
          <button class="contacts__form_btn">Отправить</button>
        </form>
      </div>
     
    </div>
    <img src="img/contacts.png" alt="" class="contacts__img" data-aos="fade-right" data-aos-duration="1700"
      data-aos-once="true" />
    <div class="contacts__map"
    data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-offset="100">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Acfddd3784f65135fc60a1bf7fce035af9f504b9163b04be4c7454c618c93317b&amp;source=constructor"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
