<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__row_top">
        <div class="footer__top_logo">
          <a href="" class="footer__logo_item">
            <img src="img/logo.svg" alt="" class="footer__logo_img" />
          </a>
        </div>
        <div class="footer__top_menu">
          <ul class="footer__menu">
            <li class="footer__menu_item">
              <a href="" class="footer__menu_link">О НАС</a>
            </li>
            <li class="footer__menu_item">
              <a href="" class="footer__menu_link">Направления</a>
            </li>
            <li class="footer__menu_item">
              <a href="" class="footer__menu_link">команда</a>
            </li>
            <li class="footer__menu_item">
              <a href="" class="footer__menu_link">контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__row_bottom">
        <div class="footer__bottom_social">
          <h4 class="footer__social_title">Наши соцсети</h4>
          <div class="footer__social_icons">
            <a href="" class="footer__icons_link"
              ><img src="img/tg.png" alt="" class="footer__icons_img"
            /></a>
            <a href="" class="footer__icons_link"
              ><img src="img/vk.png" alt="" class="footer__icons_img"
            /></a>
            <a href="" class="footer__icons_link"
              ><img src="img/inst.png" alt="" class="footer__icons_img"
            /></a>
          </div>
        </div>
        <div class="footer__bottom_contacts">
          <a href="" class="footer__contacts_item"
            ><img src="" alt="" class="footer__contacts_img" />+7 (904)
            825-10-10</a
          >
          <a href="" class="footer__contacts_item"
            ><img
              src=""
              alt=""
              class="footer__contacts_img"
            />studio_avanturin@mail.RU</a
          >
          <a href="" class="footer__contacts_item"
            ><img src="" alt="" class="footer__contacts_img" />Звёздная улица,
            6к1, Омск</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
