<div class="gallery" id="gallery">
    <div class="gallery__header">
        <h2 class="gallery__header_title"
        data-aos="fade-down"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-offset="-100">
            ГАЛЕРЕЯ
        </h2>
    </div>
    <div class="gallery__slider">
        <div class="swiper mySwiperGallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/g1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/g3.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
   <div class="container">
    <div class="gallery__text">
        <p class="gallery__text_item">
            В этом разделе — лучшие кадры из жизни нашей студии: выступления на сцене, тренировки, конкурсы, фестивали и
            праздничные
            мероприятия. Здесь можно увидеть, как наши ученики раскрывают свой талант, обретают уверенность и заряжаются
            энергией
            танца.
            <br><br>
            Танцуйте с нами и оставайтесь в кадре!
        </p>
    </div>
   </div>
</div>
