<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__row_logo">
        <a href="index.html" class="header__logo_item"
          ><img        
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-once="true" 
          src="img/logo.svg" alt="" class="header__logo_img"
        /></a>
      </div>
      <div class="header__row_menu">
        <ul class="header__menu">
          <li class="header__menu_item"
          data-aos="fade-down"
          data-aos-duration="1500"
          data-aos-once="true"
          >
            <a href="#abus" class="header__menu_link">О нас</a>
          </li>
          <li class="header__menu_item"
          data-aos="fade-down"
          data-aos-duration="2000"
          data-aos-once="true"
          >
            <a href="#dance" class="header__menu_link">Направления</a>
          </li>
          <li class="header__menu_item"
          data-aos="fade-down"
          data-aos-duration="2500"
          data-aos-once="true"
          >
            <a href="#gallery" class="header__menu_link">Галерея</a>
          </li>
          <li class="header__menu_item"
          data-aos="fade-down"
          data-aos-duration="3000"
          data-aos-once="true"
          >
            <a href="#reviews" class="header__menu_link">Отзывы</a>
          </li>
          <li class="header__menu_item"
          data-aos="fade-down"
          data-aos-duration="3000"
          data-aos-once="true"
          >
            <a href="#contacts" class="header__menu_link">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<button class="burger" data-burger>
  <span class="burger__line"></span>
</button>
<div class="header__burger" data-menu>
  <nav class="burger__menu">
    <div class="burger__menu_logo">
      <a href="index.html" class="burger__logo_link">
        <img src="img/logo.svg" alt="" class="burger__logo_img" />
      </a>
    </div>
    <ul class="burger__list">
      <li class="burger__item">
        <a href="#abus" class="header__menu_link" data-menu-item>О НАС</a>
      </li>
      <li class="burger__item">
        <a href="#dance" class="header__menu_link" data-menu-item
          >Направления</a
        >
      </li>
      <li class="burger__item">
        <a href="#gallery" class="header__menu_link" data-menu-item
          >Галерея</a
        >
      </li>
      <li class="burger__item">
        <a href="#reviews" class="header__menu_link" data-menu-item>Отзывы</a>
      </li>
      <li class="burger__item">
        <a href="#contacts" class="header__menu_link" data-menu-item
          >Контакты</a
        >
      </li>
    </ul>
    <div class="burger__menu_contacts">
      <div class="burger__contacts_column">
        <p class="burger__connect_title">Связь со мной:</p>
        <ul class="burger__connect_list">
          <li
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            class="burger__list_item"
          >
            <a href="tel:+79514194450" target="_blank" class="burger__list_link"
              ><img
                src="img/icons/phone-c.svg"
                alt=""
                class="burger__list_img"
              />+7 (904) 825-10-10</a
            >
          </li>
          <li
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-once="true"
            class="burger__list_item"
          >
            <a
              href="mailto:studio_avanturin@mail.RU"
              target="_blank"
              class="burger__list_link"
              ><img
                src="img/icons/email.svg"
                alt=""
                class="burger__list_img"
              />studio_avanturin@mail.RU</a
            >
          </li>
          <li
            data-aos="fade-right"
            data-aos-duration="1500"
            data-aos-once="true"
            class="burger__list_item"
          >
            <a
              href="https://yandex.ru/maps/-/CHql4Slx"
              target="_blank"
              class="burger__list_link"
              ><img
                src="img/icons/location.svg"
                alt=""
                class="burger__list_img"
              />Звёздная улица, 6к1, Омск</a
            >
          </li>
        </ul>
        <p class="burger__social_item">Мои соц.сети:</p>
        <ul class="burger__social_icons">
          <li class="burger__icons_item">
            <a
              href="https://vk.com/katanna_manik"
              target="_blank"
              class="burger__icons_link"
              ><img src="img/tg.png" alt="" class="footer__icons_img"
            /></a>
          </li>
          <li class="burger__icons_item">
            <a
              href="https://t.me/@nnyyta"
              target="_blank"
              class="burger__icons_link"
              ><img src="img/vk.png" alt="" class="footer__icons_img"
            /></a>
          </li>
          <li class="burger__icons_item">
            <a
              href="https://wa.me/79514194450"
              target="_blank"
              class="burger__icons_link"
              ><img src="img/inst.png" alt="" class="footer__icons_img"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <a data-fancybox href="#hidden" class="header__top_button burger-item">
      Запись онлайн
    </a> -->
  </nav>
  <div class="burger__overlay" data-menu-overlay></div>
</div>
