<div class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__header">
      <h1 class="reviews__header_title"
      data-aos="fade-down"
            
            data-aos-once="true">Отзывы</h1>
      <p class="reviews__header_description"
      data-aos="fade-down"
            data-aos-duration="500"
            data-aos-once="true">Что могут сказать наши клиенты</p>
    </div>
    <div class="reviews__row swiper mySwiperReviews">
      <div class="reviews__row_slider swiper-wrapper">
        <div class="reviews__slider_item swiper-slide">
          <p class="reviews__item_name">Алексей</p>
          <p class="reviews__item_theme">Современный танец</p>
          <p class="reviews__item_description">
            This was one of the best learning experiences I’ve ever had. The
            teachers were friendly and gave me great advice.This was one of the best learning experiences I’ve ever had. The
            teachers were friendly and gave me great advice.
          </p>
          <div class="reviews__item_stars">
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
          </div>
        </div>
        <div class="reviews__slider_item swiper-slide">
          <p class="reviews__item_name">Алексей</p>
          <p class="reviews__item_theme">Современный танец</p>
          <p class="reviews__item_description">
            This was one of the best learning experiences I’ve ever had. The
            teachers were friendly and gave me great advice.
          </p>
          <div class="reviews__item_stars">
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
          </div>
        </div>
        <div class="reviews__slider_item swiper-slide">
          <p class="reviews__item_name">Алексей</p>
          <p class="reviews__item_theme">Современный танец</p>
          <p class="reviews__item_description">
            This was one of the best learning experiences I’ve ever had. The
            teachers were friendly and gave me great advice.
          </p>
          <div class="reviews__item_stars">
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
          </div>
        </div>
        <div class="reviews__slider_item swiper-slide">
          <p class="reviews__item_name">Алексей</p>
          <p class="reviews__item_theme">Современный танец</p>
          <p class="reviews__item_description">
            This was one of the best learning experiences I’ve ever had. The
            teachers were friendly and gave me great advice.
          </p>
          <div class="reviews__item_stars">
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
            <img src="img/star.svg" alt="" class="reviews__stars_item" />
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</div>
