<div class="start-wrapper">
  <div class="hello">
    <div class=""></div>
    <div class="container">
      <div class="hello__row">
        <div class="hello__row_image">
          <img src="img/Dancer1.png" alt="" class="hello__image_item" 
          data-aos="fade-right"
          data-aos-duration="1500"
          data-aos-once="true"
          />
        </div>
        <div class="hello__row_header">
          <p class="hello__header_description" 
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-once="true">
            НАСЛАЖДАЙТЕСЬ КАЖДЫМ ШАГОМ НА ЭТОМ ПУТИ
          </p>
          <h1 class="hello__header_title" 
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-once="true">УЧИТЕСЬ ТАНЦЕВАТЬ СТИЛЬНО</h1>
          <div class="hello__header_btn-aos" 
          data-aos="fade-left"
          data-aos-duration="2000"
          data-aos-once="true">
            <a href="#abus" class="hello__header_btn" >
            УЗНАТЬ БОЛЬШЕ
            <img src="img/Arrow.svg" alt="" class="hello__btn_img" />
          </a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="social">
      <div class="container">
        <div class="social__row">
          <p class="social__row_text"  
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="0"
          data-aos-once="true"
          >НАШИ СОЦ.СЕТИ</p>
          <div class="social__row_line">
            <img src="img/line.png" alt="" class="social__row_line"  data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-offset="0"
            data-aos-once="true"
            />
          </div>
          <div class="social__row_icons">
            <a href="" class="social__icons_item"
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="0"
            data-aos-once="true"
            ><img src="img/tg.png" alt="" class="social__icons_img"
            /></a>
            <a href="" class="social__icons_item"
            data-aos="fade-up"
            data-aos-duration="2500"
            data-aos-offset="0"
            data-aos-once="true"
            ><img src="img/inst.png" alt="" class="social__icons_img"
            /></a>
            <a href="" class="social__icons_item"
            data-aos="fade-up"
            data-aos-duration="3000"
            data-aos-offset="0"
            data-aos-once="true"
            ><img src="img/vk.png" alt="" class="social__icons_img"
            /></a>
            <a href="" class="social__icons_item"
            data-aos="fade-up"
            data-aos-duration="3500"
            data-aos-offset="0"
            data-aos-once="true"
            ><img src="" alt="" class="social__icons_img"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
